PORT=3000
DATABASE_URL=postgresql://postgres:anambra247@localhost:5432/products_store
NODE_ENV=development

FRONTEND_URL=http://localhost:5173

CLERK_SECRET_KEY=sk_test_O4NDVWshf8awPtcqjEWLubfBrkepymYI8njKqXMoGd
CLERK_PUBLISHABLE_KEY=pk_test_Y2VydGFpbi1kaW5vc2F1ci00MC5jbGVyay5hY2NvdW50cy5kZXYk
